services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: beymencs_rabbitmq
    ports:
      - "5672:5672"   # RabbitMQ port
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres_db:
    image: postgres:latest
    container_name: beymencs_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d orderdb"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      postgres_db:
        condition: service_healthy

  beymencasestudy.webapi:
    image: ${DOCKER_REGISTRY-}beymencasestudywebapi
    container_name: beymencs_webapi
    build:
      context: .
      dockerfile: BeymenCaseStudy.WebAPI/Dockerfile
    depends_on:
      postgres_db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      - ConnectionStrings__OrderDb=Host=postgres_db;Database=orderdb;Username=admin;Password=password123
      - ConnectionStrings__StockDb=Host=postgres_db;Database=stockdb;Username=admin;Password=password123
      - ConnectionStrings__NotificationDb=Host=postgres_db;Database=notificationdb;Username=admin;Password=password123
      - RabbitMQ__HostName=rabbitmq

volumes:
  postgres_data: